In [23]:
import pandas as pd
import os
from tqdm import tqdm
DIR = '///mnt/c/Personal/Competitions/Zindi/Wadhwani AI/data/'
labels_dir = '///mnt/c/Personal/Competitions/Zindi/Wadhwani AI/runs/yolov5s6_exp002/Ensemble/fold 0/labels'
submit = pd.read_csv(os.path.join(DIR,'SampleSubmission.csv'))
test_df = pd.read_csv(os.path.join(DIR,'Test.csv'))
mapping= {0: 'abw',1: 'pbw'}

In [24]:
out = dict()
for img_id in tqdm(list(test_df['image_id_worm'])):
    img = img_id.split('.')[0]
    out[f'{img}_abw'] = 0
    out[f'{img}_pbw'] = 0

    # read text file into pandas DataFrame
    try:
        df = pd.read_csv(f"{labels_dir}/{img}.txt", sep=" ",header=None)
        df.rename(columns = {0:'labels'},inplace=True)
        out_temp = df['labels'].value_counts().to_dict()
        for k,v in out_temp.items():
            if k == 0:
                out[f'{img}_abw'] += out_temp[k]
            if k == 1:
                out[f'{img}_pbw'] += out_temp[k]        
    except:
        continue

100%|██████████████████████████████████████████████████████████████████████████████| 2803/2803 [00:24<00:00, 112.80it/s]

In [25]:
test_df

                        image_id_worm
0     id_00332970f80fa9a47a39516d.jpg
1     id_0035981bc3ae42eb5b57a317.jpg
2     id_005102f664b820f778291dee.jpg
3     id_0066456f5fb2cd858c69ab39.jpg
4     id_007159c1fa015ba6f394deeb.jpg
...                               ...
2798  id_ffad8f3773a4222f8fe5ba1a.jpg
2799  id_ffb65e6de900c49d8f2ef95a.jpg
2800  id_ffbcb27fa549278f47505515.jpg
2801  id_ffc0e41e10b0c964d4a02811.jpg
2802  id_fff8c253115aacded09ad7ed.jpg

[2803 rows x 1 columns]

In [26]:
out_df = pd.DataFrame.from_dict(out,orient='index').reset_index()
out_df.rename(columns={'index':'image_id_worm',0:'number_of_worms'},inplace=True)

In [27]:
submit = pd.merge(submit[['image_id_worm']],out_df,on='image_id_worm',how='left')
submit.head()

                     image_id_worm  number_of_worms
0  id_00332970f80fa9a47a39516d_abw                4
1  id_00332970f80fa9a47a39516d_pbw                0
2  id_0035981bc3ae42eb5b57a317_abw                0
3  id_0035981bc3ae42eb5b57a317_pbw               20
4  id_005102f664b820f778291dee_abw                9

In [28]:
submit[submit['number_of_worms']>300]

                        image_id_worm  number_of_worms
345   id_0edb22ec8f2c24e4e9039fe1_pbw              438
361   id_0f469d41eb988ebabbb60a57_pbw              573
1065  id_31131761ecf0db6defc2a616_pbw              312
1291  id_3b59b5876e0a54fd5fd38188_pbw              346
2291  id_68736c3fd434bbb41cc61732_pbw              333
2739  id_7be486eecf08e7e18ee17600_pbw              483
4079  id_bbae805d96b9c65757dfed7f_pbw              468
4189  id_bfb2384707eab89ee708d02f_pbw              329
4335  id_c726c53c9d2cb7341aa6846e_pbw              470
5037  id_e5a8f88ddd79e1a1d65e41c2_pbw              375

In [21]:
submit[submit['number_of_worms']>300]

                        image_id_worm  number_of_worms
345   id_0edb22ec8f2c24e4e9039fe1_pbw              426
361   id_0f469d41eb988ebabbb60a57_pbw              551
1065  id_31131761ecf0db6defc2a616_pbw              301
1291  id_3b59b5876e0a54fd5fd38188_pbw              344
2291  id_68736c3fd434bbb41cc61732_pbw              312
2739  id_7be486eecf08e7e18ee17600_pbw              464
4079  id_bbae805d96b9c65757dfed7f_pbw              428
4189  id_bfb2384707eab89ee708d02f_pbw              323
4335  id_c726c53c9d2cb7341aa6846e_pbw              440
5037  id_e5a8f88ddd79e1a1d65e41c2_pbw              361

In [29]:
submit.to_csv('///mnt/c/Personal/Competitions/Zindi/Wadhwani AI/runs/yolov5s6_exp002/Ensemble/fold 0/submit.csv',index=False)

### Fin